* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div-pitanje {
  width: auto;
  height: auto;
  padding: 4rem;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formma {
  height: auto;
  border: 2px solid black;
}

.formma input {
  margin: .3rem;
}